.icon {
  list-style-type:none;
}

.icons {
  padding-top: 70px;
  float: center;
}

body {
  padding-top: 70px;
  background-color: 5f783e;
  text-color: black;
}

.center-block {
  float: none !important
}

.profile-pic {
  max-height: 280px;
  max-width: 280px;
}

.description {
  padding-top: 20px;
}

.header-background {
  font-family: 'Playfair Display', serif;
}
