.icon {
  list-style-type:none;
}

.icons {
  padding-top: 20px;
}

body {
  background-color: 5f783e;
  color: white;
  overflow-x: hidden;
}

.center-block {
  float: none !important
}

.profile-pic {
  max-height: 280px;
  max-width: 280px;
  padding-top: 20px;
}

.description {
  padding-top: 20px;
}

.header-background {
  font-family: 'Open Sans', sans-serif;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thatonelink {
  color: brown;
}

.makeitbrown {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
