.icon {
  list-style-type:none;
}

.icons {
  padding-top: 70px;
  float: center;
}

body {
  padding-top: 70px;
}

.center-block {
  float: none !important
}

.profile-pic {
  max-height: 280px;
  max-width: 280px;
  border: 5px solid black;
}

.description {
  padding-top: 20px;
}

.header-background {
  font-family: 'Playfair Display', serif;
}
